<div class="page-header">
  <h1>Panel de administracion</h1>
</div>
<h3>Roles de Acceso al sistema</h3>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Comunicado!</h4>
  Si la contraseña es perdida o es divulgada a personas sin autorizacion, comunicar para formatear la contraseña o eliminar la cuenta.
</div>
<table class="table table-bordered table-striped">
  <colgroup>
    <col class="span1">
    <col class="span7">
  </colgroup>
  <thead>
  <tr>
    <th>#Id</th>
    <th>Tipo</th>
    <th>Cuenta</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1.</td>
    <td><code>Admin</code></td>
    <td>
      <code>profesores@ciistacna.com</code>
    </td>
    <td>Esta cuenta tiene un roll de acceso total al sistema de administracion, ya que son los profesores y tiene la capacidad de cambiar cualquier parte del portal CIIS Tacna 2012. Profesor Taya, Osco, Elena.. etc</td>
  </tr>
  <tr>
    <td>2.</td>
    <td><code>Semi_Admin</code></td>
    <td>
      <code>organiza@ciistacna.com</code>
    </td>
    <td>Esta cuenta tiene un roll tambien de administracion casi total al sistema CIIS Tacna 2012, siendo poco menos que los profesores. Esta destinada a los organizadores de inicio como Daniel, Erika, Franklin..etc</td>
  </tr>
  <tr>
    <td>3.</td>
    <td><code>Editor</code></td>
    <td>
      <code>apoyo@ciistacna.com</code>
    </td>
    <td>Esta cuenta tiene un roll limitado de administracion y acceso al sistema. y esta destinado a todos los que organizan el CIIS 2012</td>
  </tr>
  </tbody>
</table>
