<div class="page-header">
  <h1>Editar inscripcion</h1>
</div>


<%= render 'form' %>

<div class="form-actions">
<%= link_to 'Ver', @inscripcione, :class => "btn btn-primary" %>
<%= link_to 'Regresar', inscripciones_path, :class => "btn btn-primary" %>
</div>