<!-- Footer
================================================== -->
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Ir arriba</a></p>
    <p>Optimizada: chrome , Internet Explorer, Firefox</p>
    <p>Resoluciones: smartphone, Tablet, Destopk, Laptop</p>
    <p>Todos los Derechos Reservados CIIS 2012 - UNJBG</p>
  </div>
</footer>