<div class="page-header">
  <h1>Editar Ponente</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
    <%= link_to 'Ver', @ponente, :class => "btn btn-primary" %>
    <%= link_to 'Regresar', ponentes_path, :class => "btn btn-primary" %>
</div>
