<% content_for :head_titulo do %>
    <h1>Contacto Confirmado</h1>
    <p class="lead">Su mensaje ha llegado a nuestro servidor.</p>
<% end %>
<div class="marketing">
  <h1>Gracias por contactarnos.</h1>
  <p class="marketing-byline">Leeremos tu mensaje y te responderemos lo mas antes posible a tu correo electronico.</p>
  <p>
    <%= link_to raw('<i class="icon-home"></i> Inicio'), "/", :class => "btn btn-large" %>
  </p>
</div>