<% content_for :head_titulo do %>
    <h1>Galeria fotos</h1>
    <p class="lead">Todas las fotos relacionadas con el CIIS Tacna 2012.</p>
<% end %>

<section>
<div class="page-header">
  <h1>Ultimas fotos CIIS 2012</h1>
</div>
<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Mandanos tus Fotos</h4>
    <p>Si eres asistente al evento o tienes cualquier relacion con el evento, mandanos tu foto por el formulario
    de <a href="/inicios/contacto">contacto</a> y colocaremos tu foto.
    </p>
</div>


    <ul class="thumbnails">
      <% @fotos.each do |foto| %>
          <li class="span3">
            <div class="thumbnail">
              <a href="/inicios/galeria_detalle/<%= foto.id %>">
              <%= image_tag foto.image_url(:mini).to_s %>
              </a>
              <div class="caption">
                <h6><%= foto.nombre[0,25] %></h6>
                <div class="fb-like" data-href="http://ciistacna.com/inicios/galeria_detalle/<%= foto.id %>" data-send="false" data-layout="button_count" data-show-faces="false"></div>
              </div>
            </div>
          </li>
      <% end %>
    </ul>

  <p>
  <div class="fb-like" data-href="http://ciistacna.com/inicios/galeria" data-send="false" data-width="700" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://ciistacna.com/inicios/galeria" data-num-posts="5" data-width="700"></div>
  </p>

</section>